h1 {
  font-family: "Inder", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  font-size: 40px;
  text-align: center;
  font-size: 2.5rem;
}

h2 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  font-size: 1.5rem;
  margin-left: 50px;
}

h3 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fcf9f9;
  font-size: 1.5rem;
  padding-bottom: 30px;
  padding-top: 100px;
}

h4 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #333333;
  font-size: 1rem;
  margin-left: 50px;
}

h5 {
  font-family: "indie flower";
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
}

p {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #333333;
  font-size: 0.9rem;
  line-height: 1.6;
  margin: 50px;
}

@media (min-width: 1000px) {
  h1 {
    margin-top: -1%;
  }
  h2 {
    margin: 0;
    padding-bottom: 20px;
  }

  h5 {
    margin: 0;
    padding-top: 30px;
  }

  h4 {
    margin: 0;
    font-size: 1.5rem;
    padding-bottom: 20px;
  }

  h3 {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  p {
    margin: 0;
    padding-bottom: 30px;
  }

  a {
    padding-top: 25px;
    margin: 0;
  }
}
