/*************** Reset *********************/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5eee5;
}

.flowers {
  max-width: 40%;
  rotate: -30deg;
  display: block;
  margin: auto;
  padding-bottom: 50px;
  padding-top: 50px;
}

.flowers2 {
  max-width: 90%;
}

.flowers3 {
  padding-left: 50px;
}

.flowersonlyondesktop {
  display: none;
}

.flowersonlyondesktop2 {
  display: none;
}

.flowerfooter {
  display: none;
}

.grid_1-22 {
  display: none;
}

.grid_1-2222 {
  display: block;
}

.group1 {
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  font-family: "Inder", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  font-size: 40px;
  text-align: center;

  font-size: 2.5rem;
}

h2 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  font-size: 1.5rem;
  padding-bottom: 40px;
  margin-left: 50px;
}

h3 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fcf9f9;
  font-size: 1.5rem;
  padding-bottom: 50px;
  padding-top: 100px;
}

h4 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #333333;
  font-size: 1.5rem;
  margin-left: 50px;
}

h5 {
  font-family: "indie flower";
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;

  padding: 10px;
}
h6 {
  font-family: "indie flower";
  font-weight: 300;
  font-style: normal;
  color: #fcf9f9;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: normal;
  padding-bottom: 50px;
  margin: 0;
}

p {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #333333;
  font-size: 0.9rem;
  line-height: 1.6;
  margin: 50px;
}

.grid_1-222 {
  padding-bottom: 20px;
}

.everythingleft {
  padding-bottom: 20px;
}

.everythingright {
  padding-bottom: 20px;
}

.space {
  padding-bottom: 10%;
}
/* om mig side */
.navn {
  display: block;
  width: 40%;
  margin: 0 auto;
}

body {
  background-color: #f5eee5;
}

.diffcolor {
  background-color: #a33738;
  padding-left: 30px;
  padding-bottom: 50px;
}

.itemsleft {
  padding-bottom: 50px;
}

.itemsleft2 {
  padding-right: 55%;
  padding-bottom: 10%;
  padding-left: 7%;
  padding-top: 50px;
}
.itemsleft3 {
  padding-left: 50px;
}

ul {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fcf9f9;
  line-height: 1.6;
  list-style-type: square;
  padding-left: 1.2rem;
}
/* Om mig forms */
.button2 {
  background-color: #f5eee5;
  border: 2px solid #951415;
  color: #49433c;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  margin-top: 20px;
  place-items: center;
  font-size: 18px;
}
.button2:hover {
  background: #cb9e9e;
}

.form-group {
  display: grid;
  gap: 2px;
  margin-top: 1rem;
}

.error-message {
  display: none;
}

.form-group:has(:user-invalid) {
  input {
    outline: 2px solid red;
    border-color: darkred;
  }
  .error-message {
    display: block;
    color: darkred;
  }
}

.form-group:has(:user-valid) input {
  outline: 2px solid green;
  border-color: darkgreen;
}
/* Om mig forms slut*/
/* om mig side slut*/

/* Burger */
.header {
  display: flex;
  align-items: center;
}

/* Group burger + menu */
.nav-left {
  position: relative; /* anchor for dropdown */
}

/* Burger */
.burger {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 20px;
}

/* Menu hidden */
.menu {
  display: none;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 100%; /* directly below burger */
  left: 0; /* aligned LEFT */
  background: #f5eee5;
  padding: 15px;
  margin-left: 20px;
}

/* Show menu */
.menu.active {
  display: flex;
}

/* Burger slut*/

/* Tema sidderne */
summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  font-family: "inria", sans-serif;
  font-size: 1rem;
  border-top: #951415 solid 1px;
  padding: 20px;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "›";
  font-size: 22px;
  transition: transform 0.2s ease;
}

details[open] summary::after {
  transform: rotate(90deg);
}

.content {
  padding: 10px 0 0 0;
  color: #555;
}
/* Kun Tema 4 */
.dropdown {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.dropdown-content {
  display: none;
  background-color: #f5eee5;
  border: 1px solid #f5eee5;
  margin-top: 5px;
  position: relative;
  max-width: 90vw;
  padding: 20px;
}
.dropdown-content.show {
  display: block;
}

.dropdown-btn {
  background-color: #f5eee5;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 25px 20px 20px 20px;
  margin-top: 20px;
}
.dropdown-btn:hover {
  transform: scale(1.05);
  font-weight: bold;
}
/* Tema sidderne færdig*/

.text-slider {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
}
.picture-slider {
  text-align: center;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
}
.picture-slider img {
  max-width: 100%;
  height: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.slide {
  min-width: 90%;
  scroll-snap-align: center;
  padding: 2rem;
}

.mylink {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding-bottom: 10px;
  display: inline-block;
}

.mylink2 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding-bottom: 30px;
  display: inline-block;
  transition: transform 0.2s ease;
}

.mylink3 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding-bottom: 30px;
  display: inline-block;
  transition: transform 0.2s ease;
}

.mylink2:hover {
  font-weight: bold;
  font-size: 24px;
}

.mylink2:visited {
  color: rgb(23, 7, 80);
}

.mylink:hover {
  transform: scale(1.15);
  font-weight: bold;
}

footer {
  background-color: #44393c;
  margin-top: 10%;
  padding-top: 30px;
}

.textfooter {
  padding-left: 30px;
}

@media (min-width: 1000px) {
  /* alle grids */
  .grid_1-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    margin-left: 7%;
    margin-right: 7%;
  }
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: calc(100vh - 120px);
    padding-left: 10%;
    padding-right: 10%;
    margin-top: -7%;
  }

  .grid_1-22 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .grid_1-222 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
    gap: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .grid_1-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 70%;
  }

  h1 {
    margin-top: -5%;
  }
  h2 {
    margin: 0;
  }

  h5 {
    margin: 0;
    padding-top: 30px;
  }

  h4 {
    margin: 0;
    padding-bottom: 20px;
  }

  h3 {
    margin: 0;
    padding-top: 30px;
  }

  p {
    margin: 0;
    padding-bottom: 30px;
  }

  a {
    padding-top: 25px;
    margin: 0;
  }

  .moremargin {
    margin-left: 7%;
  }

  .flowersonlyondesktop {
    display: block;
    max-width: 15%;
    margin: auto;
    padding-bottom: 30px;
    padding-left: 60%;
    rotate: -20deg;
  }

  .flowersonlyondesktop2 {
    display: block;
    max-width: 40%;
    margin: auto;
  }

  .flowers3 {
    display: block;
    max-width: 40%;
    margin: auto;
  }

  .everythingright {
    margin-left: 55%;
    margin-top: -15%;
    margin-right: 10%;
  }

  .everythingleft {
    margin-right: 55%;
    margin-left: 10%;
    margin-top: 5%;
  }

  .flowers2 {
    max-width: 40%;
    margin-top: -20%;
    margin-left: 5%;
  }

  .flowers {
    max-width: 15%;
  }

  body {
    background-color: #f5eee5;
  }
  .picture-slider {
    display: none;
  }

  .content {
    padding-right: 30%;
  }

  a {
    display: inline-block; /* REQUIRED */
    transition: transform 0.2s ease; /* smooth animation */
  }

  a:hover {
    transform: scale(1.15); /* grow text */
    font-weight: bold;
  }
  /* Burger */
  .header {
    display: flex;
    align-items: center;
  }

  /* Group burger + menu */
  .nav-left {
    position: relative; /* anchor for dropdown */
  }

  /* Burger */
  .burger {
    font-size: 50px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 60px;
  }

  /* Menu hidden */
  .menu {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 100%; /* directly below burger */
    left: 0; /* aligned LEFT */
    background: #f5eee5;
    padding: 15px;
    margin-left: 60px;
  }

  /* Show menu */
  .menu.active {
    display: flex;
  }

  /* Burger slut*/

  details {
    margin-left: 7%;
    margin-right: 7%;
  }

  /* footer */
  footer {
    background-color: #44393c;
    margin-top: 5%;
  }
  .footer-content {
    max-width: 90%;
    height: auto;
    position: relative;
  }
  .textfooter {
    display: flex;
    align-items: center;
    justify-content: center; /* horizontal */
  }
  .flowerfooter {
    display: block;
    height: 40vh;
    margin: 0 auto;
  }
  /* footer slut */
  /* om mig side */
  .navn {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);

    width: 30%;
    margin-left: 55%;
  }

  body {
    background-color: #f5eee5;
  }

  .itemsleft {
    padding-right: 55%;
    padding-bottom: 10%;
    padding-left: 7%;
    margin-top: -30%;
  }

  .itemsleft2 {
    padding-right: 55%;
    padding-bottom: 10%;
    padding-left: 7%;
  }
  .diffcolor {
    background-color: #a33738;
    width: 100%;
    padding: 40px 0;
    box-sizing: border-box;

    padding-right: 55%;
    padding-bottom: 12%;
    padding-top: 7%;
    padding-left: 7%;
  }
  /* om mig side slut */
}

.morespacebottom {
  margin-bottom: 10%;
}

.flowersother {
  width: 100%;
  padding-top: 30px;
}
